@import url(http://fonts.googleapis.com/css?family=Roboto);

.left-white {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}


.right-white {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}
#mask img {
    opacity: 0.15;
    filter: alpha(opacity=15); /* For IE8 and earlier */
}

#mask img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

body {
	font-family: "Roboto", sans-serif;
  background: url("../background/bg.png") 0% 0% / cover fixed;
	font-size: 15px;
}

#main-me {
	position: absolute;
	text-align: center;
	top:16%;
	left:50%;
  margin-left: -160px;
}

#main-me p {
	line-height: 0.4em;
}

#main-img {
	padding-top: 0.8em;
	padding-bottom: 0.2em;
	padding-left: 5.0em;
	padding-right: 5.0em;
}

#main-img img {
	width: 150px;
}

#main-link div {
	display: inline;
}

.left {
  color: #CFCFCF
}
.left:hover {
  color: #000;
}

.right {
  color: #CFCFCF;
}
.right:hover {
  color: #000;
}

#main-text h2 {
	color: #BFBFBF;
}
#main-text p {
	color: #999999;
}

#main-link .link:after {
	margin-right: 2px;
	margin-left: 2px;
	content: '/';
}

#main-link a {
	text-decoration: none;
}

#main-text div {
	padding-bottom: 0.8em;
}

.circle {
	border-radius: 50%;
}
