.water {
  fill: #00248F;
}

.land {
  fill: #A98B6F;
  stroke: #FFF;
  stroke-width: 0.7px;
}

.land:hover {
  fill:#33CC33;
  stroke-width: 1px;
}

.focused {
  fill: #33CC33;
}

select {
  position: absolute;
  top: 20px;
  left: 580px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}

.mainbox {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 16%;
  height: 45%;
  width: 30%;
  left: 35%;
}

.description {
  font-size: 16px;
  font-family: sans-serif;
  padding: 3px;
  margin: 2 auto;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.circle {
	border-radius: 50%;
}

.avator {
  padding: 15px;
  width: 30%;
}

.terminal-link {
  color: #3F3F3F
}
